*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    color:#333;
    line-height:1.6;
}

header{
    background:#222;
    color:white;
    padding:15px 0;
}

nav{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    padding:8px 12px;
    border-radius:5px;
    transition:.3s;
}

nav ul li a:hover{
    background:#0077ff;
}

.start{
    height:90vh;
    background:#0077ff;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.start h1{
    font-size:3rem;
}

.start p{
    margin:15px 0;
}

.btn{
    background:white;
    color:#0077ff;
    text-decoration:none;
    padding:12px 24px;
    border-radius:5px;
    transition:.3s;
}

.btn:hover{
    background:#222;
    color:white;
}

section{
    width:90%;
    margin:60px auto;
}

section h2{
    text-align:center;
    margin-bottom:20px;
}

.skill-box{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
}

.skill-box div{
    background:#0077ff;
    color:white;
    padding:12px 25px;
    border-radius:8px;
    transition:.3s;
}

.skill-box div:hover{
    transform:translateY(-5px);
}

.project-card{
    background:white;
    padding:20px;
    margin:20px 0;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.project-card:hover{
    transform:translateY(-8px);
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
}


